<!DOCTYPE html>
<html lang="en">
<head>

   {% block title %}<title>Boi na  linha</title>{% endblock %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   {% block head%}
   {% endblock %}
   {% load staticfiles %}
   <link rel="stylesheet"  type="text/css" href="{% static 'boiEstilo/style.css' %}" />
</head>
{% load static %}
<body>
        <ul>
                <li><a class="active" href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}" >Logar</a></li>
                <li><a href="{% url 'register' %}">Cadastro</a></li>
                <li><a href="{% url 'about' %}" >About</a></li>
        </ul>


        <div class="typewriter">
                <h3> Boi na Linha | Desafio técnico</h3>
        </div>

<br>

<table style="width:100%">
                <tr>
                  <th>
                                <div>
                                        <a class ="centera" href="{% url 'login' %}" >
                                         <button class="button button1" >Logar</button>
                                        </a>
                                </div>
                  </th>
                  <th>
                                <div>
                                         <a class ="centerb" href="{% url 'register' %}" >
                                          <button class="button button2" >Cadastrar</button>
                                         </a>
                                </div>         
                 </th> 
                </tr>  
</table>

<br>
<br>

 
{% if user.is_authenticated %}
<br>
<br>

<br>
<br>
<br>
<table style="width:100%">
                <tr>
                        <th>

                                        <div>
                                        <h2 class="oiu">hello {{ user.username }}!</h2>
                                        </div>
                        </th>
                  <th>
                       <div>
                                <a href="{% url 'AddMercadoria' %}" >
                                  <button class="button button4" >Nova mercadoria</button>
                                </a>
                        </div>
                  </th>
                  <th>
                       <div>
                                <a href="{% url 'lista' %}" >
                                        <button class="button button4" >Listar</button>
                                </a>
                        </div>
                  </th> 
                </tr>  
</table>


<br>
<br>
<br>
<div class="loginstatus">
 <a class ="centerc" href="{% url 'logout' %}" >
       <button class="button button3" >Logout</button>
 </a>
</div>



{% else %}
<br>
<div class="loginstatus">
<h2>Você ainda não esta  logado</h2>
<br>
</div>
{% endif %}



</body>
</html>
