<!DOCTYPE html>
<html>
    <head>
            {% block title %}<title>Boi na  linha</title>{% endblock %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
           
         
            {% block head%}
            {% endblock %}
            {% load staticfiles %}
            <link rel="stylesheet"  type="text/css" href="{% static 'boiEstilo/style.css' %}" />


        <title>Login | boi</title>
    </head>
    {% load static %}
    <body>
            <ul>
                    <li><a class="active" href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'login' %}" >Logar</a></li>
                    <li><a href="{% url 'register' %}">Cadastro</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
            </ul>

        <h1>Login </h1>
        <br>
        <br>
<div class = "logiForm">
        <form id="login_form" method="post" action="{% url "login" %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <br />
            <input type="submit" value="submit" />
        </form>
</div>

    </body>
</html>