<!DOCTYPE html>
<html>
    <head>
            {% block title %}<title>nova marcadoria | boi</title>{% endblock %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
           
         
            {% block head%}
            {% endblock %}
            {% load staticfiles %}
            <link rel="stylesheet"  type="text/css" href="{% static 'boiEstilo/style.css' %}" />


    </head>
    {% load static %}
    <body>
            <ul>
                    <li><a class="active" href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'login' %}" >Logar</a></li>
                    <li><a href="{% url 'register' %}">Cadastro</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
            </ul>


        <h1>Nova Mercadoria</h1>
        <br>
<table style="width:100%">
        <tr>
                <th>
                    <div class = "msgOne">

                            : <strong>adicione  um  novo iten</strong><br />

                    <div>
                </th>

          <th>
               <div>
                        <a href="{% url 'lista' %}" >
                                <button class="button button4" >Listar</button>
                        </a>
                </div>
          </th> 
        </tr>  
</table>
{% if user.is_authenticated %}
        <br>
        <br>
        <form  id="user_form" method="POST" class="post-form">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->

            {{ form.as_p }}
           
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
            
        </form> 
        <br>
        {% else %}
        <div class = "newItemMsg">
        <h2>Entre na sua conta para poder adicionar novas mercadorias</h2>
        </div>
        {% endif %}
    </body>
</html>